@using AirlineReservationSystem.Core.Models.User_Area
@model IEnumerable<MyBookingsVM>
@{
    ViewData["Title"] = "My bookings";
}

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">My flights</h3>
        </div>

        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>Departure destination</th>
                        <th>Arrival destination</th>
                        <th>Flight Information</th>
                        <th>Baggage pieces count</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>

                    @if (!Model.Any())
                    {
                    <td style="font-size:18px">You have no bookings yet!</td>
                    }
                    else
                    {
                        @foreach (var booking in Model)
                        {
                        <tr>
                            <td>@booking.DepartureDestination</td>
                            <td>@booking.ArrivalDestination</td>
                            <td>@booking.DateAndTime</td>
                            <td>@booking.BaggagePiecesCount</td>
                            <td>@booking.FlightStatus</td>
                            <td>
                                <form>
                                    <button asp-controller="booking" formmethod="post" asp-action="CancelBooking" asp-route-id="@booking.BookingId" type="submit" class="btn btn-primary">Cancel booking</button>
                                    <button asp-controller="baggage" asp-action="AddBaggage" asp-route-id="@booking.BookingId" type="submit" class="btn btn-primary">Add baggage</button>
                                </form>
                            </td>
                        </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
        <div class="alert alert-info alert-dismissible">
            Please note that canceling a flight is final and irrevirsible!
        </div>
    </div>

</div>